---
import Divider from '@/components/Divider.astro';
import Layout from '@layouts/Layout.astro';
import Clients from '@/components/Clients.tsx'
---
<Layout title="Welcome to Katu!.">
<!-- 	CONTENIDO DEL ABOUT OMG
    Imagen
    Status
    Clientes
    Contacto
    Descripcion
    Informacion extra -->
    

<div class="grid grid-cols-2  gap-4 w-full">
    <div class="border-[1.5px] border-[#bbb] col-span-2  rounded px-4 pt-3">
        <div class="grid grid-cols-3 grid-rows-2 gap-3">
            <div class="col-span-1 row-span-2 w-auto h-[380px] overflow-hidden rounded-lg">
                <img src="https://static.wixstatic.com/media/a9013c_f3b4944e5ecb4e48a05ca32d95c720f9~mv2.jpeg/v1/fill/w_474,h_838,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a9013c_f3b4944e5ecb4e48a05ca32d95c720f9~mv2.jpeg" class="h-full w-full object-cover ">
            </div>
            
            <div class="col-span-2 ">
                <h3 class="text-2xl font-bold  mb-2">Val "Katu" Medrano</h3>
                  <p class="tracking-wide text-[#666] text-sm">Hola! i'm Val "Katu" Medrano, but everyone knows me more as Katu. I am a Mexican student of 3D production for cinema specialized in the area of ​​drawing. More specific: Character Design, Background Art, Storyboard and Concept Art. I'm very passionate about these areas and that's why I have practiced all. I'm always happy to help people so that their projects can be visualized as they envision. </p>
            </div>
            
            <div class="col-span-2 ">
                <Clients client:load />
            </div>
        </div>
        <!-- <img src="https://static.wixstatic.com/media/a9013c_f3b4944e5ecb4e48a05ca32d95c720f9~mv2.jpeg/v1/fill/w_474,h_838,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a9013c_f3b4944e5ecb4e48a05ca32d95c720f9~mv2.jpeg" class="h-full w-full object-cover "> -->
    </div>
    <div class="col-span-1 border-[1.5px] rounded  border-[#bbb]  px-3  py-2  ">
        <div>
             <h4 class="font-bold text-lg">Contacto</h4>
             <p class="tracking-wide text-[#666] text-sm">
        ¡Siempre estoy en búsqueda de nuevas oportunidades! ¡No temas en enviarme un mensaje! Vamos a conectarnos.
    </p>
    <div class="flex flex-col mt-4 text-sm">
         <span>workatukint@outlook.com</span>
    <span>grimgray9@gmail.com</span>
    <span>Discord: @katukint</span>
    </div>
        </div>
    </div>
    <div class="rounded border-[1.5px] border-[#bbb]  col-span-1  px-3  py-2 ">
        <div>
        <p class="tracking-wide text-[#666] text-sm">
            As an extra information I like D&D (both as a player and DM), I like role-playing videogames a lot and animated movies are my favorite. [Ragnita]
        </p>
    </div>
    </div>

    <div class="bg-[#bbb]  w-full h-[1.8px] col-span-2 ">
        <div class="flex gap-4 mt-2">
            <div class="bg-red-200 size-8">

            </div>
            <div class="bg-red-200 size-8">

            </div>
            <div class="bg-red-200 size-8">

            </div>

        </div>
    </div>

    
</div>
   



</Layout>


<!-- border-[1.5px] -->

<!--  w-auto h-96 overflow-hidden  -->