---
import Layout from '@layouts/Layout.astro';
---
<Layout title="Welcome to Katu!">   
    <section class="w-full h-full flex flex-col pt-8 ">
        <h3 class="text-xl font-semibold uppercase tracking-wide font-proxima ">About me</h3>
		<div class="w-[9.5%] h-[2px] bg-red-500 rounded"></div>

        <div class="flex mt-6">
            <div class="w-full flex flex-col gap-3">
                <div class="rounded-lg w-full h-[570px]">
                    <img src="https://static.wixstatic.com/media/a9013c_f3b4944e5ecb4e48a05ca32d95c720f9~mv2.jpeg/v1/fill/w_474,h_838,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a9013c_f3b4944e5ecb4e48a05ca32d95c720f9~mv2.jpeg" class="rounded-lg h-full w-full object-cover ">
                </div>
                <div class="flex gap-2">
                    <div class="h-24 w-40 bg-red-500 rounded-lg">
    
                    </div>
                    <div class="h-24 w-full bg-red-600 rounded-lg">

                    </div>
                    
                </div>

            </div>
            <div class=" px-8">
                <h3 class="text-3xl font-semibold tracking-wide font-proxima">Hola! I'm Val "Katu" Medrano</h3>
                <!-- <span class="text-xl text-neutral-600 font-proxima tracking-tight font-semibold">Storyboard Artist
                </span> -->
                <div class="flex flex-col gap-6 text-sm">
                    <p class="tracking-wide"> Everyone knows me more as Katu. I am a Mexican student of 3D production for cinema specialized in the area of ​​drawing. More specific: Character Design, Background Art, Storyboard and Concept Art. I'm very passionate about these areas and that's why I have practiced all. I'm always happy to help people so that their projects can be visualized as they envision. </p>
                    <p class="tracking-wide">As an extra information I like D&D (both as a player and DM), I like role-playing videogames a lot and animated movies are my favorite.</p>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-2xl font-semibold mt-8 font-proxima">Contactame!</h3>
                    <p class="tracking-wide text-sm">¡Siempre estoy en búsqueda de nuevas oportunidades! ¡No temas en enviarme un mensaje! Vamos a conectarnos.</p>
                    <div class="flex font-proxima font-semibold gap-6 mt-5">
                        <span>workatukint@outlook.com</span>
                        <span>grimgray9@gmail.com</span>
                        <span>Discord: @katukint</span>
                    </div>
                </div>

                <div>
                    <h3 class="text-2xl font-semibold mt-12 font-proxima">Clients</h3>
                    <div class="flex gap-3 items-center">
                        <div class="size-48">
                            <img src="https://static.wixstatic.com/media/a9013c_f5aadefced834682b27c71352afbdfed~mv2.png/v1/fill/w_251,h_251,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a9013c_f5aadefced834682b27c71352afbdfed~mv2.png" alt="" class="w-full h-full object-contain">
                        </div>
                        <div class="size-48">
                            <img src="https://static.wixstatic.com/media/a9013c_fb80813ab09344f7ad143cb999dcc59c~mv2.png/v1/fill/w_279,h_140,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a9013c_fb80813ab09344f7ad143cb999dcc59c~mv2.png" alt="" class="w-full h-full object-contain">
                        </div>

                    </div>
                </div>
            </div>
        </div>
   </section>


</Layout>