---
import Layout from "@/layouts/Layout.astro";
import backgrounds from "@/data/backgrounds";



import {
  Dialog,
  DialogContent,
  DialogDescription,
  DialogHeader,
  DialogTitle,
  DialogTrigger,
} from "@/components/ui/Dialog"
import ImageDialog from "@/components/imageDialog";
---

<Layout title="Welcome to Katu!.">
    <section class="pt-4 w-full h-full">
        <p class="text-sm tracking-wider mb-3 font-medium">Also i make backgrounds!!</p>
        
        <div class="grid grid-cols-2 gap-2">
            {backgrounds.map(image => (
                <ImageDialog client:load img={image.src} imgID={image.id} className="max-w-[80%]"></ImageDialog>
            ))}
            
        </div>
        
    </section>
</Layout>