---
import SecondLayout from '@/layouts/SecondLayout.astro';
import Layout from '@layouts/Layout.astro';
import Storyboards from './storyboards.astro';
import LayoutGeneral from '@/layouts/LayoutGeneral.astro';
import StoryboardVideo from '@/components/StoryboardVideo';

---

<!-- <Layout title="Welcome to Katu!.">
	<Storyboards>
</Layout>
 -->
<!-- <SecondLayout title="Welcome to Katu!.">
	<Storyboards></Storyboards>
</SecondLayout> -->

<LayoutGeneral title='Welcome to Katu'>
	<div class="w-full h-full flex ">
		<!-- VIDEO STORYBOARD -->
		<StoryboardVideo client:load />
	</div>
</LayoutGeneral>
