---
import Layout from '@layouts/Layout.astro';
import StoryboardVideo from '@/components/StoryboardVideo';
import { Sparkles } from '@/components/ui/sparkles';

---
<Layout title='Welcome to Katu'>

	<div class="w-full h-full flex flex-col justify-between pt-8 overflow-y-auto no-scroll">
		<div class="flex flex-col relative mb-[220px]">
			<h3 class="text-xl font-semibold uppercase tracking-wide font-proxima ">Personal Storyboards</h3>
			<div class="w-[23%] h-[2px] bg-red-500 rounded"></div>

			<div class="font-proxima font-semibold leading-loose mt-12 flex flex-col text-center">
				<span class="text-xl">Here are some of my personal Storyboards, </span>
				<span >
					some of them are exercises from college, ando others like Stranger are personal projects.
				</span>
			</div>

		<!-- SPARKLES -->
			<!-- <div class='absolute z-[-2] h-[300px] w-[1300px] -left-24 top-0 overflow-hidden [mask-image:radial-gradient(100%_80%,white,transparent)] before:absolute before:inset-0 before:bg-[radial-gradient(ellipse_at_center_center,#ef4444,transparent_70%)] before:opacity-40 after:absolute'>
            <Sparkles
			  client:load
              density={500}
              speed={1}
              color='#ef4444'
			  size={1.6}
              direction='top'
              className='absolute inset-x-0 bottom-0 h-full w-full '
            />
            </div> -->

		</div>
		<div class="flex gap-4 h-60">
			<div class="flex flex-col gap-1">
				<h4 class="text-4xl font-semibold font-proxima tracking-wide">Stranger <span class="text-xl text-red-600"> (Thriller)</span></h4>
				<p class="tracking-wide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit deserunt praesentium atque consectetur, quis ipsa qui accusantium totam temporibus mollitia tempore amet necessitatibus nemo nihil quisquam maiores fuga est facilis.</p>
				<div class="flex flex-wrap gap-2 mt-4">
					<div class="w-[165px] h-auto">
						<img src="https://static.wixstatic.com/media/a9013c_139f540942244b4baef09a4ae040f49f~mv2.png/v1/crop/x_5,y_0,w_2649,h_1800/fill/w_1198,h_814,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/a9013c_139f540942244b4baef09a4ae040f49f~mv2.png" alt="">
					</div>
					<div class="w-[165px] h-auto">
						<img src="https://static.wixstatic.com/media/a9013c_17bb052dcc2a4a808413ad28126cd0e7~mv2.png/v1/fill/w_705,h_479,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a9013c_17bb052dcc2a4a808413ad28126cd0e7~mv2.png" alt="">
					</div>

					<div class="w-[165px] h-auto">
						<img src="https://static.wixstatic.com/media/a9013c_58ff36a31e874a4e86bb346f25713279~mv2.png/v1/fill/w_705,h_479,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a9013c_58ff36a31e874a4e86bb346f25713279~mv2.png" alt="">
					</div>

					<div class="w-[165px] h-auto">
						<img src="https://static.wixstatic.com/media/a9013c_78c6d43dc96f433888e4f90c364e9e12~mv2.png/v1/fill/w_705,h_479,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a9013c_78c6d43dc96f433888e4f90c364e9e12~mv2.png" alt="">
					</div>

					<div class="w-[165px] h-auto">
						<img src="https://static.wixstatic.com/media/a9013c_3267fc63171f4d6eac5a5c9b645def24~mv2.jpg/v1/fill/w_845,h_240,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/stranger_storyboard_1%20(2)_P%C3%A1gina_5_edite.jpg" alt="">
					</div>
					
				</div>
			</div>

			<div class="h-[400px]">
				<div class="w-[600px] h-full ">
					<img src="https://static.wixstatic.com/media/a9013c_b9060ba4e405472288aa20acae06a838~mv2.png/v1/fill/w_479,h_241,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a9013c_b9060ba4e405472288aa20acae06a838~mv2.png" class="object-contain h-full w-full" alt="">
				</div>
			</div>
		</div>

		<!-- VIDEO STORYBOARD -->
		<StoryboardVideo client:load />
	</div>
	
</Layout>
