---
import Divider from '@components/Divider.astro';
import Layout from '@layouts/Layout.astro';


import storyboards from '../data/storyboards'
---

<!-- <Layout title="Welcome to Katu!.">
 -->
    <section class="">
       <div>
          <h3 class="text-2xl font-bold mb-5 font-geist">PERSONAL STORYBOARDS</h3>
          <p class="text-sm tracking-wide text-[#666] font-onest">Here are some of my personal Storyboards, some of them are exercises from college, and others like Stranger are personal projects.</p>
       </div>
       <Divider />
       <div>
        {storyboards.map(project => ( 
            <div class="StoryboardCard pb-16">
            <h3 class="text-2xl font-bold mb-4 font-geist">{project.title}</h3>
            <div class="VideoStoryboard bg-blue-400 w-full ">
               <video src={project.storyboard} controls class="w-full h-full object-cover"></video>
            </div>
          </div>
           <Divider />
         ))
        }
       </div>

    </section>
    
   
    
	
<!-- </Layout>
 -->