---
import Divider from '@components/Divider.astro';
import Layout from '@layouts/Layout.astro';


import storyboards from '../data/storyboards'
---

<!-- <Layout title="Welcome to Katu!.">
 -->
    <section class="">
      
       <!-- <div>
          <h3 class="text-2xl font-bold mb-5 font-proxima">PERSONAL STORYBOARDS</h3>
          <p class="text-sm tracking-wide  font-proxima">Here are some of my personal Storyboards, some of them are exercises from college, and others like Stranger are personal projects.</p>
       </div>
       <Divider /> -->
       <div>

         <div class="w-full h-60 mb-28 flex">
            <div class="relative top-10 left-10 z-10 bg-neutral-700 text-white py-4 px-6 rounded h-[70%] w-full flex flex-col gap-3">
               <h4 class="text-2xl tracking-wide">Personal Storyboards</h4>
               <p class="text-sm ">Here are some of my personal Storyboards, some of them are exercises from college, ando others like Stranger are personal projects.</p>
            </div>
            <div class="w-[180%] relative -left-20">
               <img class="object-contain h-full w-full" src="https://static.wixstatic.com/media/a9013c_b9060ba4e405472288aa20acae06a838~mv2.png/v1/fill/w_479,h_241,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/a9013c_b9060ba4e405472288aa20acae06a838~mv2.png" alt="">
            </div>
            
         </div>
         

         <div class="bg-[#bbb] w-full h-[1.8px] mb-6  ">
</div>

          <div class="mb-10 flex gap-6">
            
            <div>
                <h3 class="font-semibold text-2xl tracking-wide uppercase">Stranger (Thriller)</h3>
              <p class="text-sm tracking-wide font-proxima font-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quo maiores dolorem, necessitatibus qui asperiores ipsum cumque, quam incidunt laudantium ullam hic quae? At pariatur assumenda beatae qui quidem reiciendis?</p>
            </div>
           
              <div class="h-[340px] w-[2200px] bg-blue-200 ">

              </div>

          </div>
          <div class="StoryboardCard pb-16 px-32">
            {/* <h3 class="text-2xl font-bold mb-4 font-proxima">{project.title}</h3> */}
            
             <div class="VideoStoryboard w-full flex-auto">
               <video src="https://video.wixstatic.com/video/a9013c_2ca45b029a21401ba58394b77609bba3/480p/mp4/file.mp4" controls autoplay muted class="w-full h-full object-cover  border-[2px] rounded border-black"></video>
            </div>
          </div>
        {storyboards.map(project => ( 
         <div class="bg-[#bbb] w-full h-[1.8px] mb-6  ">
</div>

            <h3 class="text-2xl font-bold mb-4 font-proxima uppercase">{project.title}</h3> 
            <div class="flex-1">
               <p class="text-sm tracking-wide  font-proxima "></p>
            </div>
             <div class="VideoStoryboard w-full flex-auto px-24">
               <video src={project.src} controls autoplay muted class="w-full h-full object-cover  border-[2px] rounded border-black"></video>
            </div>
          
         ))
        }
       </div>

    </section>
    
   
    
	
<!-- </Layout>
 -->