---
import Divider from '@components/Divider.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Welcome to Katu!.">

    <section class="py-10">
       <div>
          <h3 class="text-2xl font-bold mb-4">PERSONAL STORYBOARDS</h3>
          <p>Here are some of my personal Storyboards, some of them are exercises from college, and others like Stranger are personal projects.</p>
       </div>
       <Divider />
       <div>
          <div class="StoryboardCard ">
            <h3 class="text-2xl font-bold mb-4">Stranger</h3>
            <div class="VideoStoryboard bg-blue-400 w-full h-[430px]">
               <!-- Video Storyboard -->
            </div>
          </div>
          <div class="StoryboardCard mt-4">
            <h3 class="text-2xl font-bold mb-4">Stranger (pilot)</h3>
            <div class="VideoStoryboard bg-blue-400 w-full h-[430px]">
               <!-- Video Storyboard -->
            </div>
          </div>
          <div class="StoryboardCard mt-4">
            <h3 class="text-2xl font-bold mb-4">Karma (horror)</h3>
            <div class="VideoStoryboard bg-blue-400 w-full h-[430px]">
               <!-- Video Storyboard -->
            </div>
          </div>
       </div>

    </section>
    
   
    
	
</Layout>
