<header class="max-w-[1440px] mx-auto p-8 flex justify-between bg-blue-100">
    
    <nav>
        <ul class="flex">
            <li>
                Acerca de mi
            </li>
            <li>
                Storyboard
            </li>
            <li>
                Password
            </li>
            <li>
                Contacto
            </li>
        </ul>
    </nav>
</header>