<header class="w-full  flex
">
    <nav>
        <div class="AvatarImage">
            <img src="https://pbs.twimg.com/media/GSHjbB1WAAA4BVI?format=jpg&name=large" alt="Katu" class="size-32 rounded-full">
            <span>Katu</span>
        </div>

        <ul class="flex ">
            <li>
                Acerca de mi
            </li>
            <li>
                Storyboard
            </li>
            <li>
                Password
            </li>
            <li>
                Contacto
            </li>
            <li>
                Contacto
            </li>
        </ul>
    </nav>
</header>