---


import { Avatar, AvatarImage, AvatarFallback } from "@/components/ui/avatar"

import  AvatarIcon  from "@components/AvatarIcon"
import StoryboardsAccordion from "@/components/StoryboardsAccordion"
---

<header>
    <nav class="w-full">
        <AvatarIcon client:load/>
        <ul class="mt-6 flex flex-col gap-2 flex-wrap">
            <li>
                <StoryboardsAccordion client:load/>
            </li>
            <li>
                <a href="#">Sketchbook</a>
            </li>
            <li>
                <a href="#">About Me</a>
            </li>
            <li>
                <a href="#">Contact me</a>
                
            </li>     
        </ul>
    </nav>
</header>