---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

import '@/styles/globals.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>{title}</title>
	</head>
	<body>
		<div class="wrapper p-[50px] ">
			<div class="nav fixed max-w-[250px] h-[720px] flex flex-col ">
				<Header />
				<Footer />
			</div>

		<main class="ml-[300px] w-auto">
			<slot />
		</main>
		
		</div>
	</body>
</html>
<style is:global>
 
</style>
