---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
// Supports weights 100-900
import '@fontsource-variable/onest';
import '@fontsource/geist-sans';

interface Props {
	title: string;
}

const { title } = Astro.props;

import '@/styles/globals.css'
import Divider from '@/components/Divider.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>{title}</title>
	</head>
	<body>
		
		<!-- BACKGROUND COLOR -->
		<div class="fixed top-0 z-[-2] h-screen w-screen bg-[#141414]"></div>


		<!-- CONTENT -->
		<div class="py-[75px] px-[200px] flex flex-col h-screen">

			<!-- HEADER -->
		    	<div class="w-full ">

					<div class="w-full text-center flex flex-col ">
						<h2 class="text-5xl font-thin text-red-700 leading-normal uppercase font-geist">KATU MEDRANO</h2>
						<span class="text-sm">Storyboard Artist</span>
						<div class="bg-[#bbb] w-full h-[1.3px] mb-4 mt-4"></div>
					</div>

					<nav >
						<a href="#">About me</a>
						<a href="#">Storyboard</a>
						<a href="#">Merch art</a>
						<a href="#">Password</a>
						<a href="#">Contacto</a>
					</nav>
		     	</div>

	        	<main class="w-auto h-full">
			       <slot />
	        	</main>
		
		</div>

	</body>
</html>
<style is:global>
	/* body {
		font-family: 'Onest Variable', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
	} */
</style>
